<h1>Summary</h1>


<div class="summary-container">
  <div>
    <div class="table-title clearfix">
      <div><a href="/summary/<%= @prev_month %>" class="button-link">
        Prev</a></div>
      <div><h3 class="summary-table-month"><%= @report_date.strftime("%b %Y") %>
      </h3></div>
      <div><a href="/summary/<%= @next_month %>" class="button-link">
        Next</a></div>
    </div>
  </div>

  <table class="monthly-table">
    <tr>
      <th>Category</th><th>Amount</th>
    </tr>

    <% @monthly_totals.each do |category,value| %>
    <tr>
      <td><a href="/categories/<%= category.slug %>/<%= @report_date.month %>"><%=
        category.name %></a></td>
      <td>$<div class="float-right"><%= value %></div></td>
    </tr>
    <% end %>
    <tr>
      <td><div class="bolded">Monthly Total</div></td><td>$ <div class="float-right bolded">
      <%= @grand_total %></div></td>
    </tr>
  </table>

  <!-- <br></br>
  <div class="center-button">
    <a href="/expenses/new" class="button-link">Add Expense</a>
  </div> -->

</div>
