<h1><%= @category.name %></h1>

<table>
  <tr>
    <th>Date</th><th>Category</th><th>Vendor</th><th>Amount</th>
  </tr>

  <% @filtered_expenses.each do |expense| %>
  <tr>
    <td><%= expense.date.strftime('%D') %></td>
    <td><%= expense.category.name %></td>
    <td><%= expense.vendor %></td>
    <td>$<a class="float-right" href="/expenses/<%= expense.id %>">
    <%= expense.display_amount %></a></td>
  </tr>
  <% end %>

</table>
<br>
<form action="/categories/<%= @category.id %>" method="post">
  <label for="name">Name: </label><input type="text" name="name"
  id="name" value="<%= @category.name %>">
  <input type="hidden" name="_method" value="patch">
  <br>
  <input type="submit" value="Update">
</form>
