<h1>Expense</h1>

<table>
  <tr>
    <th>Date</th><th>Category</th><th>Description</th><th>Amount</th>
  </tr>

  <tr>
    <td><%= @expense.date.strftime('%D') %></td>
    <td><a href="/categories/<%= @expense.category.id %>"><%=
      @expense.category.name %></a></td>
    <td><a href="/expenses/vendors/<%= @expense.vendor %>"><%=
      @expense.vendor %></a></td>
    <td>$<div class="float-right"><%= @expense.display_amount %></div></td>
  </tr>

</table>
<br>
<form class="inline" action="/expenses/<%= @expense.id%>/edit" method="get">
  <input type="submit" value="Edit">
</form>
<form class="inline" action="/expenses/<%= @expense.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
