<h1><%= @vendor %></h1>

<table>
  <tr>
    <th>Date</th><th>Category</th><th>Description</th><th>Amount</th>
  </tr>

  <% @filtered_expenses.each do |expense| %>
  <tr>
    <td><%= expense.date.strftime('%D') %></td>
    <td><a href="/categories/<%= expense.category.slug %>"><%=
      expense.category.name %></a></td>
    <td><%= expense.vendor %></td>
    <td>$<a class="float-right" href="/expenses/<%= expense.id %>">
    <%= expense.display_amount %></a></td>
  </tr>
  <% end %>

</table>
